<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="./static/task.css">
    <title>Regstiration Form</title>

</head>
<body>
    <div class="error">{{error}}</div>
    <div class= 'body'>
        <div class="container">
            <div class="title">Regstiration Form</div>
            <form method="POST">
                <div class="input-box">
                    <div class="details">Full Name:</div>
                    <input type="text" placeholder="Enter your name" name="name" required><br>
                </div>
                <div class="input-box">
                    <div class="details">Height:</div>
                    <input  type="text" placeholder="Enter your height(feet)" name="height" required><br>
                </div>
                <div class="input-box">
                    <div class="details">Weight:</div>
                    <input  type="text" placeholder="Enter your wieght(Ibs)" name="weight" required><br>
                </div>
                <div class="input-box">
                    <div class="details">Foot Size:</div>
                    <input  type="text" placeholder="Enter your foot size(inches)" name="foot_size" required><br>
                </div>
                <button type="submit" value="Submit">regstiration</button>
            </form>
        </div>
    </div>
</div>
</body>